@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* general styles */
:root {
    --primary-color: #34CB79;
    --title-color: #322153;
    --color-gray: #6C6C80;
    --text-color-link-hover: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    -webkit-font-smoothing: antialiased;
    color: var(--color-gray);
    width: 100vw;
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header styles */
header {
    width: 100vw;
    background: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
}

header h1 a {
    margin: 0;
    color: var(--primary-color);
    font-size: 64px;
    font-family: Roboto;
    text-decoration: none;
}

.fe-beer-icon {
    width: 64px;
    height: 64px;
    color: var(--primary-color);
}

.list {
    width: 80%;
    font-size: 32px;
    list-style-type: square;
    margin: 32px;

}
.list div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.list p {
    color: var(--title-color);
}
.list a {
    text-decoration: none;
    color: var(--color-gray);
}

.list a:hover {
    color: var(--text-color-link-hover);
}

.add-todo {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 16px;
}

.add-todo input {
    width: 70%;
    max-width: 400px;
    height: 64px;
    padding: 16px;
    border-radius: 16px;
    border: 0px;
}

.add-todo input:focus {
    outline: none;
}


.add-todo button {
    width: 25%;
    max-width: 96px;
    color: var(--title-color);
    background: var(--primary-color);
    border: 0;
    border-radius: 16px;
}

/* footer styles */
footer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.line {
    width: 80vw;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 14px;
    background-color: var(--text-color);
    color: var(--text-color);
    opacity: 40%;
}

.link {
    color: var(--text-color);  
    text-decoration: none; 
}
.link:hover {
    color: var(--text-color-link-hover);
    text-decoration: none;   
}


@media(max-width: 950px) {
    .list {
        font-size: 16px;
    }

    footer p {
        font-size: 8px;
    }
}